<%- include ./partials/header.ejs %>
  <div class='parallax splash img-fluid' style='background-image:url("<%= posts[0].img_url %>")'>
    <div class='parallax-caption'>
      <span class='border'><%= city_name %></span>
    </div>
  </div>

  <div class='container content'>
    <div class='row index-splash justify-content-center'>
      <button type='button' class='btn btn-dark' data-toggle='modal' data-target='#profile-details'>
        Add your travel tip
      </button>

    </div>
    <div class='row index-splash justify-content-center'>

    <% posts.forEach(function(post) { %>
      <div class='col-sm-3 profile-sidebar'>
        <div class='img-thumbnail rounded float-left'>
          <a href='/user/<%= post.user_id %>'><img class='rounded img-fluid' src='<%= post.user_img %>'/></a>
        </div>
        <div class='post-details'>
          <a href='/user/<%= post.user_id %>' class='small-link'><h6 class='user-name'><%= post.email %></h6></a>
          <h6 class='user-join-date'>Posted on <br><%= post.posted_on %></h6>
        </div>
      </div>

      <div class='col-sm-9 offset-sm-1 profile-main'>
        <p><%= post.body %></p>
      </div>
    <% }) %>

    </div>
  </div>
<%- include ./posts/new.ejs %>
<%- include ./partials/footer.ejs %>
