<%- include ../partials/header.ejs %>
<div class='container content'>

  <div class='row'>
    <%- include ../partials/user-details.ejs %>

    <div class='col-sm-9 offset-sm-1 profile-main'>
      <dl class="row">
      <dt class="col-sm-3 city-name">
        <a href='#' class='city-name'><%= post.title %></a>
        <h6 class='user-join-date'>Posted on <%= post.posted_on %></h6>
        <% if(user.id == loggedin_user_id){ %>
          <div>
            <button type='button' class='btn btn-link edit-button' data-toggle='modal' data-target='#edit-post'>
              <img class='tool' src='/images/edit-button.svg' alt='edit-button'>
            </button>
            <button type='button' class='btn btn-link tool-button' data-toggle='modal' data-target='#delete-post'>
              <img class='tool' src="/images/delete-button.svg" alt="delete-button">
            </button>
          </div>
        <% } %>
      </dt>
      <dd class="col-sm-9">
        <p><%= post.body %></p>
      </dd>

    </div>
  </div>
  <%- include ./edit.ejs %>
  <%- include ./delete.ejs %>

<%- include ../partials/footer.ejs %>
