<%- include ../partials/header.ejs %>
<div class='container content'>

  <div class='row'>
    <%- include ../partials/user-details.ejs %>
    <div class='col-sm-9 offset-sm-1 profile-main'>
      <dl class="row">

      <% posts.forEach(function(post) { %>
        <dt class="col-sm-3 city-name">
          <a href='/posts/<%= post.id %>' class='city-name'><%= post.title %></a>
          <a href='/cities/<%= post.city_id %>'>
            <h6 class='city-name post-city-name'><%= post.name %></h6>
          </a>
        </dt>
        <dd class="col-sm-9">
          <p><%= post.body %></p>
        </dd>
      <% }) %>

    </div>
  </div>

<%- include ../partials/footer.ejs %>
